<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel="stylesheet" href="{% static '/style.css' %}">
  <title>{% block title %}Inicio{% endblock %}</title>
</head>

<body>
  <div class="container-fluid bg-success p-0">
    <section>
      <header class="header" style="background-image: linear-gradient(rgba(95, 114, 190, .8), rgba(155, 35, 234, .7)), url(https://images.pexels.com/photos/261662/pexels-photo-261662.jpeg);">
        <nav class="navbar  navbar-expand-lg  navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'home' %}">BlogRod</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blogs</a>
              </li>
            </ul>
            {% if not request.user.is_authenticated %}
            <ul class="navbar-nav">
              <a href="{% url 'login' %}" class="btn btn-outline-primary mr-lg-3">Entrar</a>
              <button type="button" class="btn btn-outline-success">Registrar</button>
            </ul>
            {% else %}
            <ul class="navbar-nav">
              <a href="{% url 'logout' %}" class="btn btn-outline-primary mr-lg-3">Salir</a>
            </ul>
            {% endif %}
          </div>
        </nav>
        <div class="header-title">
          <h1 class="display-1">BlogRod</h1>
          <h2>Blogs de Tecnologías</h2>
        </div>
      </header>
    </section>
  </div>

  <div class="container-fluid content text-center">
    {% if request.path == "/" %}
    <form class="p-5">
      <input type="search" name="" id="" class="rounded w-25 p-1" placeholder="Search in our blog">
      <a href="#" class="btn btn-outline-success">Search</a>
    </form>
    {% endif %}
    {% block titlepage %}{% endblock %}
    <main>
      {% block content %} {% endblock %}
   
    </main>
  </div>
<footer class="container-fluid bg-dark d-flex justify-content-center">
  <ul class="list-unstyled list-inline mt-4">
    <li class="list-inline-item display-4"><a href="#">Inicio</a></li>
    <li class="list-inline-item display-4"><a href="#">Contacto</a></li>
    <li class="list-inline-item display-4"><a href="#">Blogs</li>
  
</ul>
</footer>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>