{%extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Login{%endblock%}

{% block head %}
<script>
    {% if messages %}
    {% for message in messages %}
    alert(message);
    {% endfor %}
    {% endif %}
</script>
<link rel="stylesheet" href="{% static 'css/profile/login.css' %}">
{% endblock  %}
{%block content%}
<div class="login">
    <img class="log__img" src="{% static 'img/profile/login.jpg' %}" alt="login" />
    <h2 class="log__text">Iniciar Sesión</h2>
</div>

<div class="log__form">
    <form method="post">
        {% csrf_token %}

        {% for fo in form%}
        {{fo.help_text}}<br />{{fo}}<br />
        {{fo.non_field_errors}}
        {% endfor%}
        <input class="login__btn" type="submit" value="Iniciar Sesión">
    </form>
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
</div>

{%endblock%}