{% load static %}

<nav class="animated bounceInRight navbar">

  <ul class="nav__logo">
    <li> <a href="{% url 'home' %}">Nombre</a></li>
  </ul>
{% if user.is_authenticated%}

<ul class="nav__right">
  <li><a href="{% url 'profile' slug=user.username %}">Perfil</a></li>
  <li><a href="#">Articulos</a></li>
  <li><a href="{% url 'logout' %}">Salir</a></li>
</ul>
{% else %} 
  <ul class="nav__right">
    <li><a id="login" href="{% url 'login' %}">Login</a></li>
    <li><a id="register" href="#">Registro</a></li>
  </ul>
{% endif %}
</nav>