{% load static %}
{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
{% endblock %}

<div class="nav-content">
    <ul>
        <div class="nav-logo">
            <h2>BlogRod</h2>
        </div>
        <div class="nav-list">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Cursos</a></li>
        <li><a href="#">Artículos</a></li>
        <li><a href="#">Categorías</a></li>
        <li><a href="#">Tecnologías</a></li>
    </div>
    </ul>
</div>

